app='bs://c700ce60cf13ae8ed97705a55b8e022f13c5827c'
remote_url='http://hub.browserstack.com/wd/hub'
user_name='john_snow_fw7Y39zO'
access_key='kuhMDWOE327EWJDWHDWLKE'
project_name='First Python project'
build_name='browserstack-build-winter-is-coming'
session_name='BStack Winterfell'